<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mp3 converter</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
</head>
<body>
    <div class="display">
        <form method="post" action="/" enctype="multipart/form-data">
            <input type="file" id="video-name" name="video-name" accept="video/*">
            <button type="submit">Convert To Mp3</button>
        </form>
    </div>
</body>
</html>