<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP4 to MP3 Converter</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo.jpg" type="image/x-icon">
    <script defer src="../static/script.js"></script>
</head>
<body>
    <div class="display">
        <h1>Video To Audio Converter</h1>
        <form method="post" action="/convert" enctype="multipart/form-data">
            <input type="file" id="video-name" name="video-name" accept="video/*" required>
            <button type="submit">Convert To Mp3</button>
        </form>
    </div>
</body>
</html>